html{scroll-behavior: smooth;}
body {
  margin: 0px;
  background-color: var(--primary-color);
  overflow-x: hidden;
}
header {
  opacity: 0;
  pointer-events: none;
}
h1 {
  font-family: "Special Gothic Expanded One";
}
.headTextTitle {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.headTextTitle > span {
  display: block;
  font-family: "Special Gothic Expanded One";
  font-size: 3em;
  transform: translateY(80px);
  opacity: 0;
}
@media (max-width: 616px) {
  .headTextTitle > span {
    font-size: 7vw;
  }
}
/* === First Section === */
#landing {
  width: 100vw;
  height: 100dvh;
  top: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#title {
  margin: 0px;
  font-size: 6em;
  opacity: 0;
}
.title-anim {
  opacity: 1 !important;
  transition: 1s;
}
#textsub-title {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 580px;
  transform: translateY(15px);
  opacity: 0;
  font-family: "Special Gothic Expanded One";
}
#textsub-title li {
  flex: 1;
}
#an {
  text-align: right;
}
#sm-description {
  margin: 0px;
  opacity: 0;
  transform: translateY(-1.2em);
}
.sm-in {
  opacity: 1 !important;
  transition: 1s ease-in-out;
}
.sm-out {
  opacity: 0 !important;
  transition: 1s ease-in-out;
}
#ico-container {
  transform: translateY(-65px);
}
#ico-container img {
  width: 80px;
  transition: 3s;
  pointer-events: none;
}

#suman-left {
  transform: scale(1) translate(0px, 0px);
}
#suman-right {
  transform: scale(1) translateX(0px);
}
#kasoy-left {
  transform: scale(1) translateX(-29px);
}
#kasoy-right {
  transform: scale(1) translateX(29px);
}
#hamaka {
  transform: scale(2.5) translateY(-6px);
}
#mango-left {
  transform: scale(1) translateX(-18px);
}
#mango-right {
  transform: scale(1) translateX(18px);
}

.suman-left-art {
  transform: scale(10) translate(-50vw, -50vh) !important;
}
.suman-right-art {
  transform: scale(10) translate(50vw, -50vh) !important;
}
.kasoy-left-art {
  transform: scale(10) translate(-50vw, 50vh) !important;
}
.kasoy-right-art {
  transform: scale(10) translate(50vw, -50vh) !important;
}
.hamaka-art {
  transform: scale(5) translateY(50vw) !important;
}
.mango-left-art {
  transform: scale(10) translateX(-50vw) !important;
}
.mango-right-art {
  transform: scale(10) translateX(50vw) !important;
}

/* === SVG WAVE => B. === */
.wave-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.wave-divider svg {
  display: block;
  width: 100%;
  height: 100px;
}

.wave-divider path {
  fill: #FFCC80;
}


/* === Main === */
main {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom,#FFCC80, #FFAE00, #FFD800);
}

/* === About Sumakah Section 1 */
#about-sumakah {
  display: flex;
  padding: 30px;
  gap: 50px;
  width: 80dvw;
  max-width: 1153px;
  background-color: white;
  border-radius: 20px;
  margin: 0px 60px;
  opacity: 0;
}
#about-sumakah img {
  width: 220px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(143, 143, 143);
  padding: 15px 5%;
  object-fit: cover;
}
#about-sumakah-textSeg {
  flex: 1;
  position: relative;
}

/* === About Sumakah Section 2 */
#discover-the-sumakah {
  padding: 200px 0px;
}
#discover-the-sumakah p, #discover-the-sumakah li {
  opacity: 0;
  font-size: 1.2em;
  transform: translateY(50px);
  transition: 1s;
}

/*=== CARD PROFUCT ==*/
#product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-product {
  background-color: white;
  width: 80dvw;
  max-width: 1024px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: translateY(50px);
}
.card-product > img {
  width: 100px;
}
.card-product > div {
  flex: 1;
}
.card-product > div > h1 {
  margin-bottom: 0px;
}


/* === significance-of-sumakah-festival === */
#significance-of-sumakah-festival {
  padding: 100px 0px;
}
.info-box {
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  width: 70dvw;
  max-width: 1000px;
  background-color: #ffffff78;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

@media (max-width: 826px) {
  .card-product > div > p {
    font-size: 3vw;
  }
  #discover-the-sumakah p, .info-box *, #discover-the-sumakah li {
    font-size: 5vw;
  }
  .card-product > div > h1 {
    font-size: 4vw;
  }
  .card-product > img {
    width: 15vw;
  }
  #discover-the-sumakah {
    padding: 80px 0px;
  }
}

/* === Tourist Spot Section === */
#tourist-spot {
  padding: 100px 0px;
  width: 80vw;
  opacity: 0;
  text-align: center;
}
#tourist-spot > #list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: auto;
  justify-content: center;
}
.card-design {
  max-width: 300px;
  height: 350px;
}

.card-design > #container {
  transition: 0.5s;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding: 10px;
}
.card-design:hover > #container {
  padding-bottom: 25px;
}

#Hinulugang-Taktak {
  background-image: url('img/cover-photo-hinulugang-taktak-1024x682.webp');
}
#Pinto-Art-Museum {
  background-image: url('img/pinto-art.jpg');
}
#Antipolo-Cathedral {
  background-image: url('img/Antipolo_Cathedral_2025-01-26.jpg');
}
#Mount-Purro-Nature-Reserve {
  background-image: url('img/mpn.jpg');
}
#Cloud9 {
  background-image: url('img/Cloud-9-Antipolo-Tour-13.jpg');
}

@media (max-width: 635px) {
  #about-sumakah img {
    width: 50vw;
    height: 60vw;
  }
}
@media (max-width: 677px) {
  #textsub-title {
    width: 85vw;
  }
  #title {
    font-size: 14vw;
  }
  #sm-description {
    font-size: 5vw;
    width: fit-content;
  }
  #ico-container {
    transform: translateY(-7vw);
  }
  #ico-container img {
    width: 11.5vw;
  }
}

@media (max-width: 864px) {
  #about-sumakah {
    flex-direction: column;
    padding: 5vw;
    gap: 0px;
    margin: 0px 5vw;
    margin-bottom: 80px;
    text-align: center;
  }
  #about-sumakah img {
    display: block;
    margin: 0px auto;
  }
  #about-sumakah-textSeg {
    position: unset;
  }
  #about-sumakah-textSeg button {
    position: unset;
    bottom: unset;
    right: unset;
  }
  #discover-the-sumakah {
    width: 80dvw;
    max-width: 1153px;
    text-align: center;
  }
  #discover-the-sumakah ul {
    list-style: none;
    padding: 0px;
  }
}

@media (max-width: 830px) {
  #tourist-spot-list {
    flex-direction: column;
  }
  .tourist-spot-div {
    max-width: unset;
    max-height: 100px;
    display: flex;
    align-items: end;
  }
  .tourist-spot-div > .title-content {
    transform: rotate(0deg);
    top: unset;
    left: unset;
  }
  .tourist-spot-div-click {
    max-width: unset !important;
    max-height: unset !important;
  }
  .tourist-spot-div-click > .title-content {
    opacity: 0 !important;
  }
  .tourist-spot-div-click  > .content-list {
    width: 100% !important;
    padding: 20px !important;
  }
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}